.chores {
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    /* font-style: italic; */
    font-size: larger;

}

h3{
    text-decoration: underline;
    
}
ul{
    font-style: italic;
}